<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.rjoakim.android.jonetouch"
    android:installLocation="preferExternal"
    android:versionCode="7"
    android:versionName="3.0.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.rjoakim.android.jonetouch.JOneTouchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.rjoakim.android.jonetouch.CreateAccountActivity" />
        <activity
            android:name="fr.rjoakim.android.jonetouch.AboutOfActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Configure activity -->
        <activity
            android:name="fr.rjoakim.android.jonetouch.widget.JOneTouchWidgetConfigurationActivity"
            android:label="@string/app_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="fr.rjoakim.android.jonetouch.widget.JOneTouchWidgetActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/jonetouch_widget_provider" />
        </receiver>
    </application>

</manifest>